@use "~/styles/mixins" as *;

.markdown-body {
  --smc-font-family: var(--yun-font-sans);

  --c-toc-link: var(--yun-c-text-light);
}

.dark {
  .markdown-body {
    --smc-header-bottom-color: #333;

    --c-toc-link: var(--yun-c-text-dark);
  }
}

.markdown-body {
  ul {
    > li {
      list-style-type: disc;

      li {
        list-style-type: circle;

        li {
          list-style-type: square;
        }
      }
    }
  }
}

// 目录
.markdown-body {
  .table-of-contents {
    position: fixed;
    width: calc(var(--yun-sidebar-width-mobile) - 2rem);
    top: 1.5rem;
    right: 1rem;
    padding: 0;

    font-size: 1rem;
    font-family: var(--yun-font-serif);

    ul {
      padding-left: 1rem;
    }

    > ol {
      padding-left: 2.5rem;

      ol {
        padding-left: 1rem;
      }

      list-style: decimal;
    }

    a {
      display: block;
      color: var(--c-toc-link);
      transition: color var(--yun-transition-duration);

      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      &:hover {
        color: var(--yun-c-text);
      }
    }
  }
}

// temporary hide
@include mobile {
  .markdown-body {
    .table-of-contents {
      display: none;
    }
  }
}
