@use "./vars" as *;
@use "valaxy/client/styles/mixins/index.scss" as * with ($namespace: "st");

:root {
  --un-prose-links: var(--st-c-link);

  @include set-css-var-from-map($common);
  @include set-css-var-from-map($z-index, "z");
}

:root {
  @include set-css-var-from-map($light);
}

html.dark {
  @include set-css-var-from-map($dark);
}

:root {
  --va-font-family-base: "Chinese Quotes", "Inter var", "Inter", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
