@use "sass:map";

.markdown-body {
  figure {
    text-align: center;
  }

  // end line
  .end {
    .line {
      height: 1px;
    }
  }

  .custom-block {
    margin: 16px 0;

    p:first-child {
      margin: 0;
    }
  }
}
