// import common and light/dark css vars in main.ts

$c-primary: #0078e7 !default;

// global css
@use "./global/reset.scss" as *;
@use "./global/nprogress.scss" as *;

// https://github.com/valaxyjs/css-i18n
@use "css-i18n/src/styles/index.scss" as *;

// common
@use "./common/code.scss" as *;
@use "./common/hamburger.scss" as *;
@use "./common/transition.scss" as *;

// markdown
@use "./common/markdown.scss";

// components import by yourself
