@use "sass:map";
@use "sass:meta";
@use "./mixins" as *;
@use "sass:color";

$palette: () !default;
$palette: map.merge(
  (
    "white": #fff,
    "black": #1a1a1a,
    "gray": #8e8e8e,
    "danger": #db2828,
    "warning": #f2711c,

    "text-light-1": #213547,
    "text-light-2": rgba(60, 60, 60, 0.7),
    "text-light-3": rgba(60, 60, 60, 0.33),
    "text-light-4": rgba(60, 60, 60, 0.18),
    "text-dark-1": rgba(255 ,255 ,255, 0.87),
    "text-dark-2": rgba(235 ,235 ,235, 0.6),
    "text-dark-3": rgba(235 ,235 ,235, 0.38),
    "text-dark-4": rgba(235 ,235 ,235, 0.18),
  ),
  $palette
);
$colors: () !default;
$colors: map.merge(
  (
    "primary": #5718BC,
  ),
  $colors
);
$c-primary: map.get($colors, "primary") !default;
$colors: map.merge(
  (
    "primary-light": color.adjust($c-primary, $lightness: 15%),
    "primary-lighter": color.adjust($c-primary, $lightness: 30%),
    "primary-dark": color.adjust($c-primary, $lightness: -5%),
  ),
  $colors
);
$light: () !default;
$light: map.merge(
  (
    "c-brand": $c-primary,

    "border-color": #222,

    "c-bg": white,
    "c-bg-light": white,
    "c-bg-dark": #fafafa,
    "c-bg-opacity": rgba(255, 255, 255 , 0.8),

    "c-bg-soft": #f9f9f9,
    "c-bg-alt": #f9f9f9,
    "c-bg-mute": #f1f1f1,

    "c-text": #333,
    "c-text-light": #555,
    "c-text-lighter": #666,
    "c-text-dark": #111,

    "c-primary-rgb": #{color.red($c-primary), color.green($c-primary), color.blue($c-primary)},

    "c-link": get-css-var("c-primary-dark"),
    "c-divider": rgba(60, 60, 60, 0.2),
  ),
  $light
);
$dark: () !default;
$dark: map.merge(
  (
    "border-color": #e6e6e6,

    "c-bg": #1b1b1f,
    "c-bg-light": #202127,
    "c-bg-dark": #1a1a1a,
    "c-bg-opacity": rgba(0, 0, 0,  0.8),

    "c-bg-alt": #161618,
    "c-bg-soft": #202127,
    "c-bg-mute": #2f2f2f,

    "c-text": #f2f2f2,
    "c-text-light": #ddd,
    "c-text-lighter": #eee,
    "c-text-dark": rgba(#ebebeb, 0.8),
    "c-link": map.get($colors, "primary-light"),
  ),
  $dark
);
