@use "sass:map";

$common: () !default;
$common: map.merge(
  (
    "sidebar-width": 320px,
  ),
  $common
);

$border: () !default;
$border: map.merge(
  (
    "width": 1px,
  ),
  $border
);

$font: () !default;
$font: map.merge(
  (
    "sans":
      'Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif',
    "mono": 'Menlo, Monaco, Consolas, "Courier New", monospace',
    "serif": "'Noto Serif SC', STZhongsong, STKaiti, KaiTi, Roboto, serif",
  ),
  $font
);

$transition: () !default;
$transition: map.merge(
  (
    "duration-fast": 0.2s,
    "duration": 0.4s,
    "duration-slow": 0.6s,
    "": all var(--va-transition-duration-fast) ease-in-out,
  ),
  $transition
);
