@use "sass:map";

$common: () !default;
$common: map.merge(
  (
    "aside-width": 256px,
    "sidebar-width": 300px,
  ),
  $common
);

$border: () !default;
$border: map.merge(
  (
    "width": 1px,
  ),
  $border
);

$font: () !default;
$font: map.merge(
  (
    "serif": "'Noto Serif SC', DM Serif Display, STZhongsong, STKaiti, KaiTi, Roboto, serif",
    "sans":
      'DM Sans, Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif',
    "mono": 'DM Mono, Menlo, Monaco, Consolas, "Courier New", monospace',
  ),
  $font
);

$transition: () !default;
$transition: map.merge(
  (
    "duration-fast": 0.2s,
    "duration": 0.4s,
    "duration-slow": 0.6s,
    "": all var(--va-transition-duration-fast) ease-in-out,
  ),
  $transition
);
