.yun-icon-btn {
  background-color: transparent;
  cursor: pointer;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  border: none;
  width: 3rem;
  height: 3rem;

  border-radius: 50%;

  transition: background-color var(--va-transition-duration);

  div {
    font-size: 1.2rem;
  }

  &:hover {
    background-color: rgba(var(--va-c-primary-rgb), 0.08);
  }

  &:active {
    background-color: rgba(var(--va-c-primary-rgb), 0.16);
  }
}
