@use "valaxy/client/styles/mixins" as *;

.markdown-body {
  --smc-font-family: var(--va-font-sans);
  --c-toc-link: var(--va-c-text-light);
}

html.dark {
  .markdown-body {
    --c-toc-link: var(--va-c-text-dark);
  }
}

.markdown-body {
  word-wrap: break-word;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--va-font-serif);
    font-weight: 900;
  }

  ul {
    list-style: initial;
    li > p {
      margin-bottom: 0;
    }
  }

  ol {
    li {
      list-style: decimal;
    }
  }

  img {
    margin: auto;
  }
}
