:root {
  --va-c-bg: #ffffff;
  --va-c-bg-light: #ffffff;
  --va-c-bg-dark: #fafafa;
  --va-c-bg-opacity: rgba(255, 255, 255, 0.8);
  --va-c-bg-soft: #f9f9f9;
  --va-c-bg-alt: #f9f9f9;
  --va-c-bg-mute: #f1f1f1;
}

html.dark {
  --va-c-bg: #1a1a1d;
  --va-c-bg-light: #202127;
  --va-c-bg-dark: #1a1a1a;
  --va-c-bg-opacity: rgba(0, 0, 0, 0.8);
  --va-c-bg-alt: #161618;
  --va-c-bg-soft: #202127;
  --va-c-bg-mute: #2f2f2f;
}
