/* https://github.com/antfu/prism-theme-vars */
@use 'prism-theme-vars/base.css' as *;
@use './code.scss' as *;

.markdown-body {
  --prism-font-family: var(--yun-font-mono);

  --smc-link-color: var(--yun-c-link);
}

// for anchor
h1:hover .header-anchor,
h1:focus .header-anchor,
h2:hover .header-anchor,
h2:focus .header-anchor,
h3:hover .header-anchor,
h3:focus .header-anchor,
h4:hover .header-anchor,
h4:focus .header-anchor,
h5:hover .header-anchor,
h5:focus .header-anchor,
h6:hover .header-anchor,
h6:focus .header-anchor {
  visibility: visible;
  opacity: 1;
}

a.header-anchor {
  float: left;
  margin-top: 0.125em;
  margin-left: -0.87em;
  padding-right: 0.23em;
  font-size: 0.85em;
  visibility: hidden;
  opacity: 0;
  transition: opacity var(--yun-transition-duration);

  &::before {
    content: none;
  }
}

a.header-anchor:hover,
a.header-anchor:focus {
  text-decoration: none;
}
