@use "sass:map";

@use "./mixins" as *;

$palette: () !default;
$palette: map.merge((
  'white': #ffffff,
  'black': #1a1a1a,
  'gray': #8e8e8e,
  'warning': #f2711c
), $palette);

$colors: () !default;
$colors: map.merge((
  'primary': #0078E7,
), $colors);

$c-primary: map.get($colors, 'primary');

$colors: map.merge((
  'primary-light': lighten($c-primary, 15%),
  'primary-lighter': lighten($c-primary, 30%),
), $colors);


$light: () !default;
$light: map.merge((
  'bg-image': url('https://cdn.jsdelivr.net/gh/YunYouJun/cdn/img/bg/stars-timing-0-blur-30px.jpg'),
  'border-color': #e6e6e6,

  'c-bg': white,
  'c-bg-light': white,
  'c-bg-dark': #fafafa,
  'c-text': #333,
  'c-text-light': #555,
  'c-text-dark': #111,

  'c-primary-rgb': #{red($c-primary), green($c-primary), blue($c-primary)},

  'c-link': $c-primary,

  'sidebar-bg-color': #{get-css-var('c-bg-light')}
), $light);

$dark: () !default;
$dark: map.merge((
  'bg-image': none,
  'border-color': #222,

  'c-bg': #1a1a1a,
  'c-bg-light': #22252e,
  'c-bg-dark': #1a1a1a,

  'c-text': #f2f2f2,
  'c-text-light': #eee,
  'c-text-lighter': #ddd,
  'c-text-dark': rgba(#ebebeb, 0.8),

  'c-link': map.get($colors, 'primary-light'),
), $dark);
