@use '../mixins' as *;

html {
  scroll-behavior: smooth;

  -webkit-tap-highlight-color: transparent;
}

a {
  color: var(--yun-c-link);
  font-weight: 500;
}

* {
  outline: none;
}

hr {
  opacity: 0.2;
  margin: 1rem;
}
