:root {
  --pr-z-index-backdrop: 9;
  --pr-z-index-sidebar: 10;

  --pr-aside-text-1: #213547;
  --pr-aside-text-2: #3c3c3cb3;

  --pr-aside-divider: rgba(60, 60, 60, 0.122);

  // nav
  --pr-nav-height: var(--pr-nav-height-mobile);
  --pr-nav-height-mobile: 56px;
  --pr-nav-height-desktop: 72px;

  // z-index
  --pr-z-index-nav: 20;
  --pr-z-index-local-nav: 10;
}

.dark {
  --pr-aside-text-1: #ffffffde;
  --pr-aside-text-2: #ebebeb99;

  --pr-aside-divider: rgba(84, 84, 84, 0.48);
}
