:root {
  --pr-c-indigo-lighter: #c9def1;
}

:root {
  --pr-c-text-code: #374562;
  --pr-c-text-1: #213547;

  // aside
  --pr-aside-text-1: var(--pr-c-text-1);
  --pr-aside-text-2: rgba(60, 60, 60, 0.702);

  --pr-aside-divider: rgba(60, 60, 60, 0.122);

  --pr-c-divider-light: rgba(60, 60, 60, 0.12);

  // nav
  --pr-nav-height: var(--pr-nav-height-mobile);
  --pr-nav-height-mobile: 60px;
  --pr-nav-text: var(--pr-c-text-1);

  // z-index
  --va-z-overlay: var(--pr-z-index-backdrop);
  --pr-z-index-local-nav: 8;
  --pr-z-index-nav: 9;
  --pr-z-index-backdrop: 10;
  --pr-z-index-aside: 11;
  --pr-z-index-sidebar: 12;

  // switch
  --pr-switch-divider: rgba(60, 60, 60, 0.29);
  --pr-switch-bg: #f1f1f1;
}

.dark {
  --pr-c-text-code: var(--pr-c-indigo-lighter);
  --pr-c-text-1: #ffffffde;

  // aside
  --pr-aside-text-2: #ebebeb99;
  --pr-aside-divider: rgba(84, 84, 84, 0.48);

  // switch
  --pr-switch-divider: rgba(84, 84, 84, 0.65);
  --pr-switch-bg: #3a3a3a;
}
