@use "./helper";
@use "./markdown";
@use "./api";
@use "./sidebar";

.layout {
  display: flex;
  flex-direction: column;
}

.press-layout {
  --press-c-brand-1: var(--pr-c-brand);
  --press-c-brand-2: var(--va-c-primary);
  --press-c-brand-3: var(--va-c-primary);
  --press-c-brand-soft: var(--pr-c-brand-soft);

  color: var(--pr-c-text-1);
  font-family: var(--pr-font-body);

  :where(a, button, [tabindex="0"]):focus-visible {
    outline: 2px solid var(--pr-c-brand);
    outline-offset: 4px;
  }
}
