@use "valaxy/client/styles/mixins/index.scss" as *;

:root {
  --va-code-mobile-margin-x: -1.5rem;
}

.prose {
  --un-prose-body: var(--va-c-text);
  --un-prose-hr: var(--va-c-text);
  --un-prose-borders: var(--va-c-brand);
  --un-prose-links: var(--va-c-brand);
  --un-prose-code: var(--va-c-text);
  --un-prose-font-mono: var(--va-font-mono);

  blockquote {
    font-style: normal;
  }

  a {
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: all 0.4s;
  }

  code:not(pre > code) {
    color: var(--pr-c-text-code);
    background-color: var(--va-c-bg-mute);
    padding: 3px 6px;
    border-radius: 4px;
    font-weight: 500;

    &::before {
      content: none;
    }

    &::after {
      content: none;
    }
  }

  ul {
    margin-top: 0em;
    margin-bottom: 0.25em;
  }
}
