@use "../palette" as *;
@use "../mixins" as *;

::-webkit-input-placeholder {
  color: white;
}

html.dark {
  color-scheme: dark;
}

.dark {
  @include set-css-var-from-map($dark);

  // star-markdown-css
  --smc-link-color: lighten($colors.primary, 30%);
}
