@use "../palette.scss" as * ;

.yun-icon-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  border: none;
  width: 3rem;
  height: 3rem;

  border-radius: 50%;

  transition: var(--yun-transition);

  &:hover {
    background-color: rgba(var(--yun-c-primary-rgb), 0.08);
  }

  &:active {
    background-color: rgba(var(--yun-c-primary-rgb), 0.16);
  }
}
