@use "valaxy/client/styles/mixins/index.scss" as *;
@use "./post" as *;

html {
  overflow-y: scroll;
}

.yun-main {
  padding-left: var(--va-sidebar-width);
  transition: padding-left var(--va-transition-duration);
  box-sizing: border-box;
}
