/* stylelint-disable no-duplicate-selectors */
@use "./vars" as *;
@use "valaxy/client/styles/mixins/index.scss" as * with($namespace: "yun");

:root {
  @include set-css-var-from-map($common);
  @include set-css-var-from-map($z-index, "z");

  // z-index
  --va-z-overlay: var(--yun-z-backdrop);
}

:root {
  @include set-css-var-from-map($light);
}

.dark {
  @include set-css-var-from-map($dark);
}
