/* stylelint-disable no-duplicate-selectors */
@use "./vars" as *;
@use "valaxy/client/styles/mixins/index.scss" as * with($namespace: "yun");

:root {
  @include set-css-var-from-map($common);
  @include set-css-var-from-map($z-index, "z");

  // z-index
  --va-z-overlay: var(--yun-z-backdrop);
}

:root {
  @include set-css-var-from-map($light);
}

html.dark {
  @include set-css-var-from-map($dark);

  // bg
  // gradient
  --va-c-bg: #1a1a1d;
  --va-c-bg-soft: #121215;
}

// animation
@media screen and (width <= 768px) {
  :root {
    --rect-margin: 20px;
  }
}

@media screen and (width > 768px) {
  :root {
    --rect-margin: 48px;
  }
}
