/* stylelint-disable no-duplicate-selectors */
@use "./vars" as *;
@use "valaxy/client/styles/mixins/index.scss" as * with($namespace: "yun");

:root {
  // yun
  --yun-margin-top: 68px;

  --yun-home-hero-image-filter: blur(48px);
  --yun-home-hero-name-background: -webkit-linear-gradient(120deg, var(--va-c-text) 30%, black);
  --yun-home-hero-image-background-image: linear-gradient(-45deg, #bd34fe 50%, #47caff 50%);
}

:root {
  @include set-css-var-from-map($common);
  @include set-css-var-from-map($z-index, "z");

  // z-index
  --va-z-overlay: var(--yun-z-backdrop);
}

:root {
  @include set-css-var-from-map($light);
}

html.dark {
  @include set-css-var-from-map($dark);

  // bg
  // gradient
  --va-c-bg: #1a1a1d;
  --va-c-bg-soft: #121215;

  --yun-home-hero-name-background: -webkit-linear-gradient(120deg, var(--va-c-primary) 30%, #41d1ff);
}

// animation
@media screen and (width <= 768px) {
  :root {
    --rect-margin: 16px;
  }
}

@media screen and (width > 768px) {
  :root {
    --rect-margin: 48px;
  }
}
