@use "./layout" as *;
@use "./common/button.scss" as *;

@forward "star-markdown-css/src/scss/theme/yun.scss" with (
  $colors: (
    "primary": $c-primary,
  )
);

// override the default style of star-markdown-css
@use "./common/markdown.scss" as *;
@use 'valaxy/client/styles/components/code-group.scss' as *;
@use 'valaxy/client/styles/components/custom-block.scss' as *;
