@use "sass:map";

// palette
$light: () !default;
$light: map.merge(
  (
    "bg-img": url("../assets/images/light/bg-img.jpg"),
    "sidebar-bg-color": var(--va-c-bg-light),
    "sidebar-bg-img": url("../assets/images/light/sidebar-bg-img.webp"),
  ),
  $light
);
$dark: () !default;
$dark: map.merge(
  (
    "bg": red,
    "bg-img": none,
    "sidebar-bg-img": none,
  ),
  $dark
);

// common
$common: () !default;
$common: map.merge(
  (
    "post-card-max-width": 900px,
    "c-cloud": "white"
  ),
  $common
);
$z-index: () !default;
$z-index: map.merge(
  (
    "select": 6,
    "cloud": 7,
    "go-down": 9,
    "backdrop": 9,
    "sidebar": 10,
    "fireworks": 11,
    "toc-btn": 11,
    "go-up-btn": 20,
    "fullscreen-menu": 21,
    "nav-menu": 22,
    "menu-btn": 22,
    "search-popup": 30,
    "search-btn": 31,
    "overlay": 32,
    "aside": 33,
    "page-gradient": 34,
    "dock": 999999,
  ),
  $z-index
);

// cubic-bezier
$cubic-bezier: () !default;
$cubic-bezier: map.merge(
  (
    // 慢速开始，然后加速
    "ease-in": cubic-bezier(0.18, 0.66, 0.05, 0.96),
    // 慢速开始和结束
    "ease-in-out": cubic-bezier(0.77, 0, 0.17, 1.02),
  ),
  $cubic-bezier
);

