:root {
  --yun-sidebar-bg-image: url("https://cdn.jsdelivr.net/gh/YunYouJun/cdn@master/img/bg/alpha-stars-timing-1.webp");
  --yun-post-card-max-width: 900px;
}

html.dark {
  --yun-sidebar-bg-image: none;
}
