@use "../mixins" as *;

html {
  -webkit-tap-highlight-color: transparent;
}

a {
  color: var(--va-c-link);
  font-weight: 500;
}

* {
  outline: none;
}

hr {
  opacity: 0.2;
  margin: 1rem;
}

button {
  background-color: transparent;
}
